h2 {
	font-family: Arial, Helvetica, sans-serif;
}

div {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/*ejercicio 1*/
.bandera-amarilla1 {
	height: 100px;
	padding: 10px 0px 0px 5px;
	margin-right: 10px;
	background-color: yellow;
}
.bandera-gris1 {
	background-color: #2B2B2B;
	color: white;
	height: 100px;
	padding: 10px 0px 0px 5px;
	margin-right: 10px;

}


/*ejercicio 2 */
.bandera-amarilla2 {
	width: 20%;
	height: 100px;
	padding: 10px 0px 0px 5px;
	margin-right: 10px;
	background-color: yellow;
	
}

.bandera-gris2 {
	width: 20%;
	height: 100px;
	padding: 10px 0px 0px 5px;
	margin-right: 10px;
	background-color: #2B2B2B;
	color: white;

}

/*ejercicio 3 */
.bandera-amarilla3 {
	width: 20%;
	height: 100px;
	padding: 10px 0px 0px 5px;
	margin-right: 10px;
	display: inline;
	background-color: yellow;
}
.bandera-gris3 {
	width: 20%;
	height: 100px;
	padding: 10px 0px 0px 5px;
	margin-right: 10px;
	display: inline;
	background-color: #2B2B2B;
	color: white;

}